
.h1 { 
    text-align: center;
    font-style: italic;
    font-size: 25px; 

}

.body { 
    align-content: center;
    text-align: center;
}
 /* Style The Dropdown Button */
 .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 300px;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .buttonsbox {
    display: inline-block;
    background-color:#392f5a;
    width: 1200px;
    height: 700px;
    padding: 40px;
    border-radius: 15px;
  }

  .button {
  width: 510px;
  height: 200px;
  font-size: 30px;
  padding: 5px;
  margin:5px;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  background-color:#cde6f5 ;
  }

  .quiztitle {
    font-size: 35px;

  }

  .question {
    font-size: 30px;
    width: 1000px;
    height: 200px;
    padding: 15px;
    margin:5px;
    margin-left: 80px;
    position: relative;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    background-color: #edf2ef;

  }

  .submit { 
    width: 520px;
    height: 50px;
    margin-top: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    background-color:#aed5cc;
  }