<link rel="stylesheet" href="\\INSURANCE\FileData\SiteHome\Pegasus\SWade\solo\quizzer\style.css">


<h1> Hello quizzer! </h1>
<body >

    <div class="dropdown">
        <button class="dropbtn">Choose your quiz:</button>
        <div class="dropdown-content">
          <a href="#"> to be created from db...</a>
          <a href="#"> cats ahsdjashd thiere trwasd the onassd</a>
        </div>
      </div>

</body>



<!-- 
    title 
    name placeholder 
    empty box for quizzes 
    go button 
-->
    
  