<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\style.css">
    <script src = "..\src\quiz.js"></script>
    <script src ="..\src\manager.js"></script>
    <title>Quiz</title>
</head>
<h1 class="quiztitle" id="quiztitle"> Quiz Title</h1>

<body class="body">
    


    <div class="buttonsbox">
        <div class="question" id="question">This is a Question</div>

        <input onclick="showSelectedAnswer('answer1', catQuiz1.answer1)" class="button" type="button" id="answer1" value="answer1">
        <input onclick="showSelectedAnswer('answer2')" class="button" type="button" id="answer2" value="answer2">
        <input onclick="showSelectedAnswer('answer3')" class="button" type="button" id="answer3" value="answer3">
        <input onclick="showSelectedAnswer('answer4')" class="button" type="button" id="answer4" value="answer4">

        <div>
            <input onclick="checkAnswer()" class="submit" type="button" id="submit" value="submit">
        </div>
    </div>

    

    <script>
        //setup selected answer
        document.getElementById("question").innerHTML = catQuiz1.question
        document.getElementById("answer1").value = catQuiz1.answer1
        document.getElementById("answer2").value = catQuiz1.answer2
        document.getElementById("answer3").value = catQuiz1.answer3
        document.getElementById("answer4").value = catQuiz1.answer4

    </script>

</body>

</html>