<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\style.css">
    <title>Quiz</title>
</head>
<h1 class="quiztitle" id="quiztitle"> Quiz Title</h1>

<body class="body">
    


    <div class="buttonsbox">
        <div class="question" id="question">This is a Question</div>

        <input class="button" type="button" id="answer1" value="answer1">
        <input class="button" type="button" id="answer2" value="answer2">
        <input class="button" type="button" id="answer3" value="answer3">
        <input class="button" type="button" id="answer4" value="answer4">


    </div>

</body>

</html>